html, body {
    width: 100%;
    margin: 0;
    padding: 10px;
    overflow-x: hidden; 
}
.main-page{
    position: relative;
    top: 256px;
    /* width: 100%; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    margin: auto;
    justify-content: center;
}
.main{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.page{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 50px;
}
.Main-Logo{
    width: 450px;
    height: 135px;
    opacity: 1;

}
.main-heading{
    width: 700px;
    height: 58px;
    text-align: left;
    font-family: 'Exo 2', sans-serif;
    font-size: 42px;
    line-height: 58px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #112949;
    opacity: 1;
    margin-top: 60px;
}
.main-paragraph{
    width: 700px;
    height: 114px;
    text-align: left;
    text-align: left;
    font-family: 'Exo 2', sans-serif;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0px;
    color: #112949;
    opacity: 1;
    margin-top: 40px;
    
  

}

.ser{
   
    width: 311px;
    height: 254px;
    background: #112949 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nd{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    max-width: 1000px;
    /* margin-top: 20px; */
    /* margin: auto; */
}
.st{
    height: auto;
    width: 40%;
    /* border: 1px solid red; */
    
}
.inp{
    display: flex;
    justify-content: left ;
    margin-top: -95px;
}
.icon-img{
   
    margin: 20px; 
    margin-left: -20px;
    width: 58px;
    height: 58px;
    opacity: 1;
}
.msg-div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon-heading{
    
    width: 153px;
    height: 58px;
    text-align: left;
    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #3CC3F2;
    opacity: 1;
    /* margin: 30px 0 10px 70px; */

    
}
.icon-para{

    width: 251px;
    /* height: 116px; */
    text-align: left;
    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: normal;    
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: auto;
    margin-top: 10px;
    /* border: 1px solid red; */
}


.input{
    width: 514px;
    height: 78px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ABABAB;
    border-radius: 10px;
    opacity: 1;
    text-align: left;
    font-family: 'Exo 2', sans-serif;
    font-size: 32px;
    line-height: 38px;
    font-weight: normal;    
    letter-spacing: 0px;
    color: #ABABAB;
  
}
.input::placeholder {
     padding-left: 20px;
     color: #ABABAB;
}
.btn{
    width: 213px;
    height: 78px;
    background: #EA7B2C 0% 0% no-repeat padding-box;
    border: 1px solid #EA7B2C;
    border-radius: 10px;
    opacity: 1;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 32px;
    line-height: 38px;
    font-weight: normal;
   margin-left: 10px    ;
    letter-spacing: 0px;
    color: #FFFFFF;
}

  
  .error {
    
    color: red;
    font-size: 24px;
  }
  
  .success {
    
    color: green;
    font-size: 24px;
  }

@media(max-width:1440px){
    .main-page{
        top: 136px;
    }    
    .page{
        display: flex;
        justify-content: center;
        width: auto;
        gap: 30px;
        
    }

    .Main-Logo{
        width: 320px;
        height: 85px;
        opacity: 1;
    }
    .main-heading{
        width: 706px;
        height: 58px;
        font-size: 28px;
        line-height: 58px;
        
        margin-top: 30px;
    }
    .main-paragraph{
     
        font-size: 20px;
        width: 500px;
      
        
        
    }
    .ser{
        width: 211px;
        height: 185px;
    
        
    }
    .icon-img{
   
        margin-left: 10px; 
        margin-top: 10px;
       
        width: 42px;
        height: 42px;
        opacity: 1;
    }

    .icon-heading{
        
        width: 113px;
        height: 58px;
        text-align: left;
        font-family: 'Exo 2', sans-serif;
        font-size: 18px;
        line-height: 29px;
       
        /* margin: 30px 0 10px 70px; */
    
        
    }
    .icon-para{
    
        width: 171px;
    
        font-size: 16px;
        line-height: 20px;
        /* text-align: center; */
        margin-top: 0px;
        /* border: 1px solid red; */
    }

    .st{
        /* border: 1px solid red; */
        width: 40%;
    }
    .nd{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
        /* border: 1px solid red; */
    }
    .input{  
        width: 364px;
        height: 48px;
        font-size: 25px;
        line-height: 32px;
        margin-top: 0px;
    }
    .inp{
        
        margin-top: -60px;   
    }
    .btn{
        width: 140px;
        height: 52px;
        font-size: 20px;
        line-height: 32px;
    }
 
}


@media(max-width:1080px){
    .page{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        gap: 50px;
        align-items: center;
       
    }
   
    .input{  
        width: 314px;
        height: 48px;
        font-size: 25px;
        line-height: 32px;
        margin-top: 0px;
    }
    .st{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .main-heading{
    
        text-align: center;
    }
    .main-paragraph{
      
        text-align: center;
    }
    .inp{
        display: flex;
        justify-content: left ;
        margin-top: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input{
        width: 400px;
    }
    .btn{
        width: 150px;
    }
   
       
}

@media(max-width:720px){
    .main-page{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin: auto;

    }
    .main{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        margin: auto;
    }
    .page{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 50px;
        align-items: center;
    }
    .input{  
        width: 314px;
        height: 48px;
        font-size: 25px;
        line-height: 32px;
        margin-top: 0px;
    }
    .nd{
    
        width: 100%;
    }
    .st{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .main-heading{
    
        text-align: center;
    }
    .main-paragraph{
      
        text-align: center;
    }
    .inp{
        display: flex;
        justify-content: left ;
        margin-top: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input{
        width: 400px;
    }
    .btn{
        width: 150px;
    }
 
}
@media(max-width:480px){
    .main-page{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .main{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        
    }
    .st{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }
    .main-heading{
        font-size: 30px;
        text-align: center;
        width: 350px;
    }
    .main-paragraph{
        width: 350px;
        margin-top: 40px;
        font-size: 18px;
    }
    .nd{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .ser{
        width: 320px;
        height: 235px;
    
        
    }
    .icon-img{
   
        margin-left: 10px; 
        margin-top: 20px;
       
        width: 62px;
        height: 62px;
        opacity: 1;
    }

    .icon-heading{
        
        width: 143px;
        height: 58px;
        text-align: left;
        font-family: 'Exo 2', sans-serif;
        font-size: 22px;
        line-height: 29px;
       
        /* margin: 30px 0 10px 70px; */
    
        
    }
    .icon-para{
    
        width: 231px;
    
        font-size: 20px;
        line-height: 30px;
        /* text-align: center; */
        margin-top: 0px;
        /* border: 1px solid red; */
    } 
    .inp{
        display: flex;
        justify-content: left ;
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input{
        width: 350px;
    }
    .btn{
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 150px;
        margin-top: 40px;
    }
   

   

}


